@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

#showcase {
  background-image: url("/img/marvel-last-supper.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.showcase-content {
  background-color: rgba(75, 6, 6, 0.2);
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

#showcase h1 {
  font-size: 60px;
  font-weight: bold;
  padding-top: 100px;
  z-index: 10;
  text-align: center;
}

#showcase p {
  font-size: 35px;
  z-index: 10;
  font-weight: bold;
  text-align: center;
}

#showcase .button {
  z-index: 10;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 7px 15px;
}

#showcase .button:hover {
  background-color: rgba(204, 156, 24, 0.4);
}

#search {
  height: 100vh;
}

.search {
  background-color: rgba(88, 7, 7, 0.637);
}

footer {
}
